*{
    font-family: Constantia;
}

body{
    background-image: url("../img/agenda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 70px;
}

form{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    height: auto;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    background-color: rgba(75, 70, 70, 0.49);
}

input{
    margin-bottom: 10px;
    height: 24px;
    background-color: #e8e1e1;
}

input[type="submit"]{
    margin-right: 25px;
    margin-left: 25px;
    font-size: medium;
}

label{
    font-size: 18px;
}

header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(245, 245, 245, 0.8);
    font-size: 20px;
}

#btnRegister:hover{
    background-color: #34c534;
}

#btnManipulation:hover{
    background-color: #2828ce;
}



