
body{    
    width: 600px;
    margin: auto;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height: 200px;
    
}

header {
    background-image: url("../assets/agenda.jpg");
    width: 600px;
    top: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    position: fixed;
    color: rgba(245, 245, 245, 0.8);
    border: 1px solid lightgrey;
}

h2{
    padding: 15px 0;
    text-align: center;
} 

h3 {
    padding: 10px;
    text-align: center;
}

#nav{
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 100%;
    position: fixed;
    top:75px;
    text-align: center;
    margin-left: 20px;
    padding:5px;
    line-height: 18px;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #333;
    color: rgba(245, 245, 245, 0.8);
    z-index: 1;
    cursor: default;
}

#nav:hover {
    background-color: rgba(245, 245, 245, 0.8);
    color: #333;
}

#search-bar {
    position:fixed;
    z-index: 1;
    width: 300px;
    margin-left: 150px;
    top:66px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 0.8rem;
}

main {
    background-color:rgba(245, 245, 245, 0.8);
    width: 600px;
    margin: 119px auto;
    min-height: 120px;
    border: 1px solid lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item {
    padding: 5px 20px;
    border: 1px solid gray;
    width:85%;
    margin: 20px auto;
    border-radius: 20px;
}

form{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
 }

 .del-btn {
    font-size: 0.7rem;
    padding: 5px;
    margin: 10px auto;
    background-color: rgb(235, 161, 161);
    color: red;
    border: 1px solid red;
    border-radius: 5px;
 }

 .edit-btn {
    font-size: 0.7rem;
    padding: 5px;
    margin: 10px auto;
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
 }
 
 input[type="submit"]{
    font-size: 1rem;
    padding: 10px;
    margin: 15px auto;
    background-color: #333;
    color: rgba(245, 245, 245, 0.8);
    border: 1px solid lightgray;
    border-radius: 5px;
 }

 input[type="submit"]:hover, .edit-btn:hover, .del-btn:hover {
    background-color: rgba(245, 245, 245, 0.8);
    color: #333;
    border: 1px solid #333;
 }
 
 input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 1rem;
 }

 
 
 
 
 
 
 
 

