<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Faça seu login</h1>

    <form id="register">
        <section id="data">
            <label for="email"><b>Login</b></label><br>
            <input id="email" name="login" type="email" placeholder="Digite seu email">
            <br><br>
            <label for="pssw"><b>Password</b></label><br>
            <input id="pssw" name="password" type="password" placeholder="Digite sua senha">
        </section><br>

        <div class="error"></div>

        <input id="btn-log" name="btnLogin" type="button" value="Entrar">

        <section id="link-register">
            <p>Se não tiver conta <a href="register.html">Cadastre-se aqui</a></p>
        </section>
    </form>
</body>
</html>